body{
background-color: #edd4be ;
}

p{
    color: #52423c;
    font-family: 'Cormorant Garamond', serif; 

}
h3{color: #cd7c13;

}
header {
     
    background-color: #4f2700;
}

h1{color:#fea50c;
   font-size: 60px;
   font-family: 'Playfair Display', serif;

}
h2{ color: #67594d;
font-size: 35px;

}

footer{ color: #5c493d;
}
form{
color: #4b4646;

}
.pre{ color: #b26606;}